template(name='header')
  #top-header.navbar.navbar-fixed-top
    .navbar-inner
      .container(style='width: auto;')
        img.brand#mypic(src='https://avatars3.githubusercontent.com/u/1377176?v=3&s=25')
        a.brand(href='#home') okgrow:promise
        ul.nav(role='navigation')
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Overview
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#motivation') Motivation
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#exports') okgrow:promise API
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Package Examples
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-one') Meteor.promise - Method call (w/ latency)
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-two') Meteor.promise - Chained Method Calls
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | ES6/ES7/MDG Examples
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-three') Client-side ES6 async/await
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-four') Server-side Promise.await
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Real-World Examples
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-five') A Blogging App
