template(name='header')
  #top-header.navbar.navbar-fixed-top
    .navbar-inner
      .container(style='width: auto;')
        a.brand(href='#home') deanius:promise
        ul.nav(role='navigation')
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Overview
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#motivation') Motivation
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#exports') deanius:promise API
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Package Examples
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-one') Meteor.callPromise - Method call (w/ latency)
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-two') Meteor.callPromise - Chained Method Calls
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-six') HTTP Promise-style
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | Real-World Examples
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-five') Async Publishing Example
          li.dropdown
            a#drop1.dropdown-toggle(href='#', role='button', data-toggle='dropdown')
              | ES6/ES7/MDG Examples
              b.caret
            ul.dropdown-menu(role='menu')
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-three') Client-side ES6 async/await
              li(role='presentation')
                a(role='menuitem', tabindex='-1', href='#example-four') Server-side Promise.await
