template(name='example6')
  h1#example-six HTTP Promise-style
  ul.nav.nav-pills
    li.active
      a(href='#example6-demo', data-toggle='tab') Demo
    li
      a(href='#example6-code', data-toggle='tab') Template Code
    li
      a(href='#example6-all', data-toggle='tab') All Code
  .tab-content
    #example6-demo.tab-pane.fade.active.in
      +example6Demo
    #example6-code.tab-pane
      +example6TemplateCode
    #example6-all.tab-pane.fade
      +example6TemplateCode
