template(name='example1')
  h1#example-one Meteor.callPromise - Method Call (w/ latency)
  ul.nav.nav-pills
    li.active
      a(href='#example1-demo', data-toggle='tab') Demo
    li
      a(href='#example1-method', data-toggle='tab') Server Method
    li
      a(href='#example1-template', data-toggle='tab') Client Template
    li
      a(href='#example1-template-code', data-toggle='tab') Template Code
    li
      a(href='#example1-all', data-toggle='tab') All Code
  .tab-content
    #example1-demo.tab-pane.fade.active.in
      +example1Demo
    #example1-method.tab-pane.fade
      +example1Method
    #example1-template-code.tab-pane.fade
      +example1TemplateCode
    #example1-template.tab-pane.fade
      +example1Template
    #example1-all.tab-pane.fade
      +example1Method
      +example1Template
      +example1TemplateCode
