template(name='example3')
  h1#example-three Client-side ES6 async/await
  ul.nav.nav-pills
    li.active
      a(href='#example3-demo', data-toggle='tab') Demo
    li
      a(href='#example3-template', data-toggle='tab') Client Template
    li
      a(href='#example3-template-code', data-toggle='tab') Template Code
    li
      a(href='#example3-all', data-toggle='tab') All Code
  .tab-content
    #example3-demo.tab-pane.fade.active.in
      +example3Demo
    #example3-template.tab-pane.fade
      +example3Template
    #example3-template-code.tab-pane.fade
      +example3TemplateCode
    #example3-all.tab-pane.fade
      +example3Template
      +example3TemplateCode
